<!-- Wrapper -->
<div id="wrapper" class="divided">
  <!--portada-->
  <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h1 style="margin-bottom: 0px;">Los Clandestinos</h1>
      <small>por Cesar Augusto Candanedo</small>
      <hr>
      <p class="major">
        <!--[-->La exitosa historia panameña de los hombres introducidos ilegalmente a través de la frontera con Colombia.
        <!--]-->
      </p>
      <ul class="actions vertical">
        <li>
          <a href="#first" class="button big wide smooth-scroll-middle">Empecemos</a>
        </li>
      </ul>
    </div>
    <div class="image">
      <img src="assets/images/banner.jpg" alt="" />
    </div>
  </section>

  <!--biografia-->
  <div>
    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
      <div class="content">
        <h2>Cesar Candanedo</h2>
        <p>César Augusto Candanedo. (Escritor y funcionario público). Nació en David, Chiriquí el 12 de mayo de 1906 y fallece
          el 29 de marzo de 1993. Cuentista y novelista autodidacta de extracto humilde. Durante 40 años trabajó en Salud
          Pública. Así pudo recorrer el país ganando valiosas vivencias nacionales, testimoniadas en numerosos relatos, publicados
          en su mayor parte con el seudónimo de “Bachiller Carrasco”. Sentía especial admiración por el escritor paraguayo
          Augusto Roa Bastos. </p>
        <ul class="actions vertical">
          <li>
            <a href="#obras" class="button big wide smooth-scroll-middle">Otras Obras</a>
          </li>
        </ul>
      </div>
      <div class="image">
        <img src="assets/images/CesarCandanedo.jpg" alt="" />
      </div>
    </section>


    <section id="obras" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
      <div class="content">
        <h2>Otras Obras</h2>
        <p>En su haber bibliográfico se cuentan:
          <b>El Cerquero</b> y
          <b>Otros Relatos</b> (1967),
          <b>Memorias de un Caminante</b> (1982) y
          <b>Palo Duro</b>
          (Premio Nacional Guillermo Andreve, 1986). La novela El Perseguido gana el premio único de novela en el Concurso Ricardo
          Miró 1986. También publica La mitra: un testimonio, en 1979.</p>
        <ul class="actions vertical">
          <li>
            <a href="#premios" class="button big wide smooth-scroll-middle">Premios</a>
          </li>
        </ul>
      </div>
      <div class="image">
        <img src="assets/images/otrasObras.jpg" alt="" />
      </div>
    </section>


    <section id="premios" class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
      <div class="content">
        <h2>Premios Ricardo Miró</h2>
        <p>Ha sido galardonado, en dos ocasiones, en el Concurso Ricardo Miró, con dos segundos puestos en el género novela.
          En 1948-1949 con Fuera de Ley publicada en 1957 con el nombre de
          <b>Los Clandestinos</b>, y en 1959-1960 con
          <b>La Otra Frontera</b>, publicada en 1967.</p>
        <ul class="actions vertical">
          <li>
            <a href="#" class="button">Learn More</a>
          </li>
        </ul>
      </div>
      <div class="image">
        <img src="assets/images/CesarCandanedo2.JPG" alt="" />
      </div>
    </section>
  </div>

  <!-- Ejes temáticos de la obra. -->
  <section class="wrapper style1 align-center  onscroll-image-fade-in">
    <div class="inner">
      <h1>
        <span class="icon style2 major fa-bolt"></span>Ejes temáticos de la obra. </h1>

      <h2>Ingreso Ilegal de hombres por el Darién</h2>
      <hr style="margin: 0px; margin-bottom: 10px;">
      <div class="image  onscroll-image-fade-in">
        <img src="assets/images/darien.jpg" alt="" />
      </div>
      <p>El tema principal de la obra gira entorno a la vida de los clandestinos, hombres de Colombia que llegaban a Darién
        sin documentación, pasaporte, cédula, etc. Estos clandestinos eran perseguidos por la ley y una vez que los capturaban,
        se convertían en prisioneros obligados a hacer labores físicas en condiciones duras. A lo largo de la obra se narran
        todas las injusticias que deben sufrir, desde sus capturas hasta las arduas labores físicas que debían realizar.
        Una vez liberados, algunos se convertían en caucheros o en tuqueros. </p>

      <h2>Producción de caucho y madera</h2>
      <hr style="margin: 0px; margin-bottom: 10px;">
      <div class="image">
        <img src="assets/images/caucho_madera.jpg" alt="" />
      </div>
      <p>Otro de los temas que se toca en la obra es la producción de caucho y madera en el Darién. Estos eran producidos por
        pequeñas empresas informales cuyos trabajadores eran en su gran mayoría clandestinos. Se narra a detalle cómo se
        producía la madera y el caucho por los tuqueros y caucheros respectivamente, dejando una gran deforestación y destrucción
        en las selvas del Darién. </p>

      <h2>Producción de banano</h2>
      <hr style="margin: 0px; margin-bottom: 10px;">
      <div class="image">
        <img src="assets/images/banano.jpg" alt="" />
      </div>
      <p>Otro tema que se toca es la producción del banano en el Darién. Los indígenas son avisados del día de corte, esto quiere
        decir que deben cortar los bananos producidos y bajarlos a la costa donde se encuentra la embarcación bananera e
        intercambian sus bananos por dinero. </p>


      <h2>Abuso de autoridades</h2>
      <hr style="margin: 0px; margin-bottom: 10px;">
      <div class="image">
        <img src="assets/images/indigenas.jpg" alt="" />
      </div>
      <p>Un tema predominante en la obra es el abuso de las autoridades sobre las clases sociales minoritarias, en este caso
        los indígenas y clandestinos. Esto se refleja en el trato injusto que se le da a los clandestinos, tuqueros y caucheros
        y en los robos que debían sufrir los indígenas ante las embarcaciones bananeras. </p>

    </div>



  </section>



  <!--acontecimientos históricos narrados en la obra. -->
  <section class="wrapper style1 align-center  onscroll-image-fade-in">
    <div class="inner">
      <h1>
        <span class="icon style2 major fa-leaf"></span>Acontecimientos históricos narrados en la obra</h1>
      <div class="image  onscroll-image-fade-in">
        <img src="assets/images/guerra.png" alt="" />
      </div>
      <h4>A lo largo de la obra se menciona en diversas ocasiones la Segunda Guerra Mundial. La Segunda Guerra Mundial fue un
        conflicto militar global que se desarrolló entre 1939 y 1945. En este se vieron implicadas la mayor parte de las
        naciones del mundo, incluidas todas las grandes potencias, agrupadas en dos alianzas militares enfrentadas: los Aliados
        de la Segunda Guerra Mundial y las Potencias del Eje.</h4>

      <section class="wrapper style1 align-center  onscroll-image-fade-in">
        <div class="inner">
          <!-- Gallery -->
          <div class="gallery style2 medium lightbox onscroll-fade-in" style="height: 250px">
            <article style="height: 250px">
              <a href="assets/images/canal5.jpg" class="image">
                <img src="assets/images/canal5.jpg" alt="" />
              </a>
              <div class="caption">
                <h3>Canal de Panamá</h3>
                <p>Durante la Segunda Guerra Mundial</p>
                <ul class="actions">
                  <li>
                    <span class="button small">Ver imagen</span>
                  </li>
                </ul>
              </div>
            </article>
            <article>
              <a href="assets/images/canal2.jpg" class="image">
                <img src="assets/images/canal2.jpg" alt="" />
              </a>
              <div class="caption">
                <h3>Canal de Panamá</h3>
                <p>Durante la Segunda Guerra Mundial</p>
                <ul class="actions">
                  <li>
                    <span class="button small">Ver imagen</span>
                  </li>
                </ul>
              </div>
            </article>
            <article>
              <a href="assets/images/canal3.jpg" class="image">
                <img src="assets/images/canal3.jpg" alt="" />
              </a>
              <div class="caption">
                <h3>Canal de Panamá</h3>
                <p>Durante la Segunda Guerra Mundial</p>
                <ul class="actions">
                  <li>
                    <span class="button small">Ver imagen</span>
                  </li>
                </ul>
              </div>
            </article>
            <article>
              <a href="assets/images/canal4.jpeg" class="image">
                <img src="assets/images/canal4.jpeg" alt="" />
              </a>
              <div class="caption">
                <h3>Canal de Panamá</h3>
                <p>Durante la Segunda Guerra Mundial</p>
                <ul class="actions">
                  <li>
                    <span class="button small">Ver imagen</span>
                  </li>
                </ul>
              </div>
            </article>
            <article>
              <a href="assets/images/canal1.jpg" style="height: 100%;" class="image">
                <img src="assets/images/canal1.jpg" alt="" />
              </a>
              <div class="caption">
                <h3>Canal de Panamá</h3>
                <p>Durante la Segunda Guerra Mundial</p>
                <ul class="actions">
                  <li>
                    <span class="button small">Ver imagen</span>
                  </li>
                </ul>
              </div>
            </article>
          </div>

        </div>
      </section>
      <h4>Estados Unidos, perteneciente a los Aliados de la Segunda Guerra Mundial, tenía como país aliado a Panamá. Como medidas
        de precaución para la protección del Canal de Panamá, se adoptó la ley Blackout, se instalaron cañones a lo largo
        del canal, soldados estadounidenses se establecieron en Panamá y se procedió a deportar a toda la población japonesa,
        alemana e italiana residente en Panamá. Además de esto, Panamá suministró madera y caucho a Estados Unidos, proveniente
        de empresas informales con trabajadores clandestinos en Darién.</h4>


    </div>
  </section>

  <!--acontecimientos históricos narrados en la obra. -->
  <section class="wrapper style1 align-center  onscroll-image-fade-in">
    <div class="inner">
      <h2>
        <span class="icon style2 major fa-leaf"></span>Aspectos culturales, sociales y económicos de trascendencia en la obra</h2>

      <ul class="inline">
        <li>
          <div class="image">
            <img src="assets/images/guerra.png" alt="" />
          </div>
        </li>
        <li>
          <div class="image">
            <img src="assets/images/guerra.png" alt="" />
          </div>
        </li>
      </ul>

      <p>
        Se desarrolla en un ambiente de pobreza ,ausencia de educación, no hay servicios básicos de salud; como se desarrolló en
        las comunidades ribereñas del Darién y en zonas bananeras a principios del siglo 20, con dificultades en comunicación
        y transporte evidente carencia de todo lo que necesita un ser humano para encontrar su felicidad. No existe salida
        para mejorar en calidad de vida, las únicas actividades laborales y de trueque o comercio, son limitadas y controladas
        por unos pocos protegidos o favorecidos por los poderes económicos y políticos de la época.
      </p>
    </div>
  </section>

  <!-- Six -->
  <section class="wrapper style1 align-center">
    <div class="inner">
      <h2>Ipsum sed consequat</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa.
        Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit
        vestibulum odio lorem ipsum.</p>
      <div class="items style1 medium onscroll-fade-in">
        <section>
          <span class="icon style2 major fa-diamond"></span>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-save"></span>
          <h3>Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-bar-chart"></span>
          <h3>Dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-wifi"></span>
          <h3>Amet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-cog"></span>
          <h3>Magna</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-paper-plane"></span>
          <h3>Tempus</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-desktop"></span>
          <h3>Aliquam</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-refresh"></span>
          <h3>Elit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-hashtag"></span>
          <h3>Morbi</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-bolt"></span>
          <h3>Turpis</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-envelope"></span>
          <h3>Ultrices</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
        <section>
          <span class="icon style2 major fa-leaf"></span>
          <h3>Risus</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue
            semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
      </div>
    </div>
  </section>


  <!--Describa los aspectos que más le llamaron la atención en la obra y explique porque -->
  <section class="wrapper style1 align-center">
    <div class="inner">
      <h2>
        <span class="icon style2 major fa-paper-plane"></span>Aspectos que nos llamaron la atención en la obra</h2>
      <p>Un aspecto que nos llamó la atención de la obra Los Clandestinos fue el sistema de corte de banano. Nos pareció interesante
        la manera en que se manejaba eso, con una persona avisando a todas las comunidades indígenas que venía el día de
        corte y cómo todos cortaban el banano y lo bajaban a la costa en piraguas para ser inspeccionado por una persona
        llamada selector que escogía los mejores bananos.</p>
    </div>
  </section>


  <!-- Footer -->
  <footer class="wrapper style1 align-center">
    <div class="inner">
      <ul class="icons">
        <li>
          <a href="#" class="icon style2 fa-twitter">
            <span class="label">Twitter</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon style2 fa-facebook">
            <span class="label">Facebook</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon style2 fa-instagram">
            <span class="label">Instagram</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon style2 fa-linkedin">
            <span class="label">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon style2 fa-envelope">
            <span class="label">Email</span>
          </a>
        </li>
      </ul>
      <p>&copy; Untitled. Design:
        <a href="https://html5up.net">HTML5 UP</a>.</p>
    </div>
  </footer>

</div>
